
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title></title>

    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="static/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            socket = io.connect('http://' + document.domain + ':' + location.port);
            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('msg', function (msg) {
                $('#warnings').append('<br><div class="alert alert-info" role="alert">' + msg.data + '</div>');
                $('#warnings').animate({scrollTop: $('#warnings').get(0).scrollHeight}, 500)
            });
        })

        function add_new_source(){
            socket.emit('cmd', {'data': 'SOURCE NEW ' + $('#path').val()})
        }
    </script>

  </head>
  <body>
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Panel de control PROYGRAD
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>       Origenes de datos</div>
                <div class="panel-body">
                    <input id="path" type="text" placeholder="Path"/>
                    <input id="identifier" type="text" placeholder="Identifier"/>
                    <input id="add" type="button"onclick="add_new_source()" value="Add"/>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-warning">
                <div class="panel-heading"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>       Advertencias recibidas</div>
                <div class="panel-body" id="warnings" style="height: 600px;overflow-y: auto;"></div>
            </div>
        </div>
    </div>

  </body>
</html>